.header {
  background-color: #333;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
  box-shadow: 0 -4px 5px 6px black;
}

.main {
  margin: 0 auto;
  width: 1200px;
  padding: 20px;
}
